@use "../../styles/partials/mixins.scss" as *;
@use "../../styles//partials/variables.scss" as *;

.city_page {
  padding: 20px;
  color: rgb(20, 20, 86);
}

.hotels_section,
.restaurants_section,
.gallery_section {
  margin-top: 20px;
}

.hotels_section h2,
.restaurants_section h2,
.gallery_section h2 {
  margin-bottom: 10px;
}

.gallery_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

.gallery_grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
}

.hotels_list h3 {
  color: rgb(63, 63, 63);
}

ul {
  list-style-type: none;
  padding: 0;
}

.hotels_list li {
  background-color: rgb(4, 78, 142);
  border-right: 0px solid white;
  color: white;
  padding: 11px 0;
  margin: 1px;
  @include desktop {
    margin: 2px;
    margin-left: 25px;
    padding: 9px 0;
  }
}

.hotels_list {
  margin: 0;
  padding: 0;
}
