@use "../../styles/partials/mixins.scss" as *;
@use "../../styles//partials/variables.scss" as *;

.mapPage {
  display: flex;
  height: 100%;
  width: 100%;
  @include tablet {
    height: 50%;
    width: 90%;
    margin: auto;
  }
  @include desktop {
    height: 60%;
    width: 95%;
  }
}

.map {
  height: 100vh;
  width: 100vw;
}

.map-container {
  height: 50%;
  width: 50%;
}
