.home {
  background-color: white;
  color: rgb(20, 20, 86);
  padding: 1rem;
}

.city-list {
  flex-direction: row;
  justify-content: space-around;
}

.city-link {
  text-decoration: none;
  color: inherit;
}
