@use "../../styles/partials/mixins.scss" as *;
@use "../../styles//partials/variables.scss" as *;

.footer {
  background-color: rgb(4, 78, 142);
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  @include tablet {
    flex-direction: row;
  }
}

.footer_links {
  text-align: center;
}

.footer_links h4 {
  margin-bottom: 20px;
  margin-top: 20px;
}

.footer_links a {
  color: white;
  text-decoration: none;
}

.footer_links ul {
  list-style: none;
  padding: 0;
}

.footer_links li {
  margin-bottom: 5px;
}
